.cinza {

    background-color: rgb(241, 241, 241) !important;
    padding-top: 100px;
}



.textocinza {
    color: rgb(146, 146, 146);
    
}

.logofooter {
    margin-left: 100px;
}

.alinhamentotexto {

    margin-top: 50px;
}









